@use '../../partials/dir';

.setting-tile {
  display: flex;
  &__content {
    flex: 1;
    min-width: 0;
  }
  &__title {
    margin-bottom: var(--sp-ultra-tight);
  }
  &__options {
    @include dir.side(margin, var(--sp-tight), 0);
  }
}