@use '../../partials/dir';

.setting-tile {
  &__title__wrapper {
    display: flex;
    align-items: center;
  }
  &__title {
    flex: 1;
    min-width: 0;
    @include dir.side(margin, 0, var(--sp-normal));
  }
}