@use '../../partials/flex';
@use '../../partials/dir';

.drawer-header__btn {
  min-width: 0;
  @extend .cp-fx__row--s-c;
  @include dir.side(margin, 0, auto);
  padding: var(--sp-ultra-tight);
  border-radius: calc(var(--bo-radius) / 2);
  cursor: pointer;
  
  & .header__title-wrapper {
    @include dir.side(margin, 0, var(--sp-extra-tight));
  }

  @media (hover:hover) {
    &:hover {
      background-color: var(--bg-surface-hover);
      box-shadow: var(--bs-surface-outline);
    }
  }
  &:focus,
  &:active {
    background-color: var(--bg-surface-active);
    box-shadow: var(--bs-surface-outline);
    outline: none;
  }
}