@use '../../partials/flex';
@use '../../partials/dir';

.drawer {
  @extend .cp-fx__column;
  @extend .cp-fx__item-one;
  min-width: 0;
  @include dir.side(border,
    none,
    1px solid var(--bg-surface-border),
  );

  & .header {
    padding: var(--sp-extra-tight);
    & > .header__title-wrapper {
      @include dir.side(margin, var(--sp-ultra-tight), 0);
    }
  }

  &__content-wrapper {
    @extend .cp-fx__item-one;
    @extend .cp-fx__column;
  }

  &__state {
    padding: var(--sp-extra-tight);
    border-top: 1px solid var(--bg-surface-border);
    @extend .cp-fx__row--c-c;

    & .text {
      color: var(--tc-danger-high);
    }
  }
}
.rooms__wrapper {
  @extend .cp-fx__item-one;
  position: relative;
}

.rooms-container {
  padding-bottom: var(--sp-extra-loose);

  &::before {
    position: absolute;
    top: 0;
    z-index: 99;
    content: '';
    display: inline-block;
    width: 100%;
    height: 8px;
    background-image: linear-gradient(
      to bottom,
      var(--bg-surface-low),
      var(--bg-surface-low-transparent));
  }

  & > .room-selector {
    width: calc(100% - var(--sp-extra-tight));
    @include dir.side(margin, auto, 0);
  }

  & > .room-selector:first-child {
    margin-top: var(--sp-extra-tight);
  }

  & .cat-header {
    margin-top: var(--sp-extra-tight);
    padding: var(--sp-extra-tight) var(--sp-normal);
    text-transform: uppercase;
  }
}