.app-welcome {
  width: 100%;
  height: 100%;

  & > div {
    max-width: 600px;
    align-items: center;
  }
  &__logo {
    width: 64px;
    height: 64px;
  }
  &__heading {
    margin: var(--sp-extra-loose) 0 var(--sp-tight);
    color: var(--tc-surface-high);
  }
  &__subheading {
    color: var(--tc-surface-normal);
  }
}