{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": true
      },
      "transform": {
          "optimizer": {},
          "react": {
            "runtime": "automatic"
          }
      },
      "target": "es5",
      "loose": false,
      "externalHelpers": true,
      "keepClassNames": false
    },
    "minify": true
}