.sso-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.sso-btn {
  margin: var(--sp-tight);
  display: inline-flex;
  justify-content: center;

  cursor: pointer;

  &__img {
    height: var(--av-small);
    width: var(--av-small);
  }
  &__text-only {
    margin-top: var(--sp-normal);
    flex-basis: 100%;
    & .text {
      color: var(--tc-link);
    }
  }
}