.sso-buttons {
  &__divider {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      flex: 1;
      content: '';
      margin: var(--sp-tight);
      border-bottom: 1px solid var(--bg-surface-border);
    }
  }
  &__container {
    margin-bottom: var(--sp-extra-loose);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
  }
}

.sso-btn {
  margin: var(--sp-tight);
  display: inline-flex;
  justify-content: center;

  cursor: pointer;

  &__img {
    height: var(--av-small);
    width: var(--av-small);
  }
  &__text-only {
    flex-basis: 100%;
    text-align: center;

    margin: var(--sp-tight) 0px;
    cursor: pointer;
    & .text {
      color: var(--tc-link);
    }
  }
}