.sidebar-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  & .notification-badge {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 0 0 2px var(--bg-surface-low);
    transform: translate(20%, -20%);

    margin: 0 !important;
  }
  & .avatar-container,
  & .notification-badge {
    transition: transform 200ms var(--fluid-push);
  }
  &:hover .avatar-container {
    transform: translateX(4px)
  }
  &:hover .notification-badge {
    transform: translate(calc(20% + 4px), -20%);
  }
  &:focus {
    outline: none;
  }
  &:active .avatar-container {
    box-shadow: var(--bs-surface-outline);
  }

  &:hover::before,
  &:focus::before,
  &--active::before {
    content: "";
    display: block;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);

    width: 3px;
    height: 12px;
    background-color: var(--tc-surface-high);
    border-radius: 0 4px 4px 0;
    transition: height 200ms linear;

    [dir=rtl] & {
      left: unset;
      right: -11px;
      border-radius: 4px 0 0 4px;
    }
  }
  &--active:hover::before,
  &--active:focus::before,
  &--active::before {
    height: 28px;
  }
  &--active .avatar-container {
    background-color: var(--bg-surface);
  }
}