@use '../../partials/flex';
@use '../../partials/text';

.image-lightbox__modal {
  box-shadow: none;
  width: unset;
  gap: var(--sp-normal);

  border-radius: 0;
  pointer-events: none;

  & .text {
    color: white;
  }
  & .ic-raw {
    background-color: white;
  }
}

.image-lightbox__overlay {
  background-color: var(--bg-overlay-low);
}


.image-lightbox__header > *,
.image-lightbox__content > * {
  pointer-events: all;
}
.image-lightbox__header {
  display: flex;
  align-items: center;

  & > .text {
    @extend .cp-fx__item-one;
    @extend .cp-txt__ellipsis;
  }
}
.image-lightbox__content {
  display: flex;
  justify-content: center;
  max-height: 80vh;

  & img {
    background-color: var(--bg-surface-low);
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--bo-radius);
  }
}