.notification-badge {
  min-width: 16px;
  min-height: 8px;
  padding: 0 var(--sp-ultra-tight);
  background-color: var(--bg-badge);
  border-radius: var(--bo-radius);

  .text {
    color: var(--tc-badge);
    text-align: center;
    font-weight: 700;
  }

  &--alert {
    background-color: var(--bg-positive);
    & .text { color: white }
  }

  &:empty {
    min-width: 8px;
    margin: 0 var(--sp-ultra-tight);
  }
}