.emoji-board-flexBoxV {
  display: flex;
  flex-direction: column;
}
.emoji-board-flexItem {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.emoji-board {
  display: flex;
  &__content {
    @extend .emoji-board-flexItem;
    @extend .emoji-board-flexBoxV;
    height: 400px;
    width: 286px;
  }
  &__nav {
    @extend .emoji-board-flexBoxV;
    justify-content: center;

    padding: 4px 6px;
    background-color: var(--bg-surface-low);
    border-left: 1px solid var(--bg-surface-border);
    [dir=rtl] & {
      border-left: none;
      border-right: 1px solid var(--bg-surface-border);
    }

    & > .ic-btn-surface {
      margin: calc(var(--sp-ultra-tight) / 2) 0;
      opacity: 0.8;
    }
  }
}

.emoji-board__content__search {
  padding: var(--sp-extra-tight);
  position: relative;
  
  & .ic-raw {
    position: absolute;
    left: var(--sp-normal);
    top: var(--sp-normal);
    transform: translateY(1px);
    [dir=rtl] & {
      left: unset;
      right: var(--sp-normal);
    }
  }

  & .input-container {
    & .input {
      min-width: 100%;
      width: 0;
      padding: var(--sp-extra-tight) 36px;
      border-radius: calc(var(--bo-radius) / 2);
    }
  }
}
.emoji-board__content__emojis {
  @extend .emoji-board-flexItem;
  @extend .emoji-board-flexBoxV;
}
.emoji-board__content__info {
  margin: 0 var(--sp-extra-tight);
  padding: var(--sp-tight) var(--sp-extra-tight);
  border-top: 1px solid var(--bg-surface-border);

  display: flex;
  align-items: center;

  & > div:first-child {
    line-height: 0;
    .emoji {
      width: 32px;
      height: 32px;
    }
  }
  & > p:last-child {
    @extend .emoji-board-flexItem;
    margin: 0 var(--sp-tight);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.emoji-group {
  --emoji-padding: 6px;
  position: relative;
  margin-bottom: var(--sp-normal);
  
  &__header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--bg-surface);

    margin-left: var(--sp-extra-tight);
    padding: var(--sp-extra-tight) var(--sp-ultra-tight);
    text-transform: uppercase;
    box-shadow: 0 -4px 0 0 var(--bg-surface);
    border-bottom: 1px solid var(--bg-surface-border);
    [dir=rtl] & {
      margin-left: 0;
      margin-right: var(--sp-extra-tight);
    }
  }
  & .emoji-set {
    margin: var(--sp-extra-tight) calc(var(--sp-normal) - var(--emoji-padding));
    margin-right: calc(var(--sp-extra-tight) - var(--emoji-padding));
    [dir=rtl] & {
      margin-right: calc(var(--sp-normal) - var(--emoji-padding));
      margin-left: calc(var(--sp-extra-tight) - var(--emoji-padding));
    }
  }
  & .emoji {
    width: 38px;
    height: 38px;
    padding: var(--emoji-padding);
    cursor: pointer;
    &:hover {
      background-color: var(--bg-surface-hover);
      border-radius: var(--bo-radius);
    }
  }
}