.channel-view-flexBox {
  display: flex;
  flex-direction: column;
}
.channel-view-flexItem {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.channel-view {
  @extend .channel-view-flexItem;
  @extend .channel-view-flexBox;

  &__content-wrapper {
    @extend .channel-view-flexItem;
    @extend .channel-view-flexBox;
  }

  &__scrollable {
    @extend .channel-view-flexItem;
    position: relative;
  }
  
  &__sticky {
    min-height: 85px;
    position: relative;
    background: var(--bg-surface);
    border-top: 1px solid var(--bg-surface-border);
  }
}