.channel-input {
  padding: var(--sp-extra-tight) calc(var(--sp-normal) - 2px);
  display: flex;
  min-height: 48px;

  &__space {
    min-width: 0;
    align-self: center;
    margin: auto;
    padding: 0 var(--sp-tight);
  }

  &__input-container {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;

    margin: 0 calc(var(--sp-tight)  - 2px);
    background-color: var(--bg-surface-low);
    box-shadow: var(--bs-surface-border);
    border-radius: var(--bo-radius);

    & > .ic-raw {
      transform: scale(0.8);
      margin: 0 var(--sp-extra-tight);
    }

    & .btn-cmd-esc {
      display: none;
      margin: 0 var(--sp-extra-tight);
      padding: var(--sp-ultra-tight) var(--sp-tight);
      border-radius: calc(var(--bo-radius) / 2);
      box-shadow: var(--bs-surface-border);
      cursor: pointer;
      & .text { color: var(--tc-surface-normal); }
    }
 
    & .scrollbar {
      max-height: 50vh;
      flex: 1;

      &:first-child {
        margin-left: var(--sp-tight);
        [dir=rtl] & {
          margin-left: 0;
          margin-right: var(--sp-tight);
        }
      }
    }
  }

  &__textarea-wrapper {
    min-height: 40px;
    display: flex;
    align-items: center;

    & textarea {
      resize: none;
      width: 100%;
      min-width: 0;
      min-height: 100%;
      padding: var(--sp-ultra-tight) 0;

      &::placeholder {
        color: var(--tc-surface-low);
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.channel-attachment {
  --side-spacing: calc(var(--sp-normal) + var(--av-small) + var(--sp-tight));
  display: flex;
  align-items: center;
  margin-left: var(--side-spacing);
  margin-top: var(--sp-extra-tight);
  line-height: 0;
  [dir=rtl] & {
    margin-left: 0;
    margin-right: var(--side-spacing);
  }

  &__preview > img {
    max-height: 40px;
    border-radius: var(--bo-radius);
  }
  &__icon {
    padding: var(--sp-extra-tight);
    background-color: var(--bg-surface-low);
    box-shadow: var(--bs-surface-border);
    border-radius: var(--bo-radius);
  }
  &__info {
    flex: 1;
    min-width: 0;
    margin: 0 var(--sp-tight);
  }

  &__option button {
    transition: transform 200ms ease-in-out;
    transform: translateY(-48px);
    & .ic-raw {
      transition: transform 200ms ease-in-out;
      transform: rotate(45deg);
      background-color: var(--bg-caution);
    }
  }
}

.channel-reply {
  display: flex;
  align-items: center;
  background-color: var(--bg-surface-low);
  border-bottom: 1px solid var(--bg-surface-border);

  & .ic-btn-surface {
    margin: 0 13px 0 17px;
    border-radius: 0;
    [dir=rtl] & {
      margin: 0 17px 0 13px;
    }
  }
}