@use '../../partials/dir';

.context-menu__item {
  position: relative;
}

.context-menu__item .btn-positive::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 12px;
  background: var(--bg-positive);
  @include dir.prop(
    border-radius,
    0 4px 4px 0,
    4px 0 0 4px,
  );
  position: absolute;
  @include dir.prop(left, 0, unset);
  @include dir.prop(right, unset, 0);
}