@use '../../partials/flex';
@use '../../partials/dir';

.profile-viewer__dialog {
  & .dialog__content__wrapper {
    position: relative;
  }
  & .dialog__content-container {
    padding-top: var(--sp-normal);
    padding-bottom: 89px;
    @include dir.side(padding, var(--sp-normal), var(--sp-extra-tight));
  }
}

.profile-viewer {
  &__user {
    display: flex;
    padding-bottom: var(--sp-normal);
    border-bottom: 1px solid var(--bg-surface-border);

    &__info {
      align-self: flex-end;
      flex: 1;
      min-width: 0;

      margin: 0 var(--sp-normal);

      & .text {
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
    &__role {
      align-self: flex-end;
      & > .text {
        margin-bottom: var(--sp-ultra-tight);
      }
    }
  }
  
  & .session-info {
    margin-top: var(--sp-normal);
  }

  &__buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    padding: var(--sp-normal);
    background-color: var(--bg-surface);
    border-top: 1px solid var(--bg-surface-border);
    display: flex;

    & > *:nth-child(2n) {
      margin: 0 var(--sp-normal)
    }
    & > *:last-child {
      @include dir.side(margin, auto, 0);
    }
  }
}

.profile-viewer__admin-tool {
  .setting-tile {
    margin-top: var(--sp-loose);
  }
}

.moderation-tools {
  & > form {
    margin: var(--sp-normal) 0;
    display: flex;
    align-items: flex-end;
    & .input-container {
      @extend .cp-fx__item-one;
      @include dir.side(margin, 0, var(--sp-tight));
    }
    & button {
      height: 46px;
    }
  }
}

.session-info {
  & .setting-tile__title .text {
    color: var(--tc-surface-high);
  }
  &__chips {
    padding-top: var(--sp-ultra-tight);
    & .chip {
      margin-top: var(--sp-extra-tight);
      @include dir.side(margin, 0, var(--sp-extra-tight));
    }
  } 
}