@use '../../partials/dir';

.view-source {
  @include dir.side(margin, var(--sp-normal), var(--sp-extra-tight));

  & pre {
    padding: var(--sp-extra-tight);
  }

  &__card {
    margin: var(--sp-normal) 0;
    background-color: var(--bg-surface-hover);
    border-radius: var(--bo-radius);
    box-shadow: var(--bs-surface-border);
    overflow: hidden;
  }
}
