.dialog-model {
  --modal-height: 656px;
  max-height: min(100%, var(--modal-height));
  display: flex;
}

.dialog,
.dialog__content,
.dialog__content__wrapper {
  flex: 1;
  min-height: 0;
  min-width: 0;

  display: flex;
}

.dialog {
  background-color: var(--bg-surface);

  &__content {
    flex-direction: column;
  }
}
