@use '../../atoms/scroll/scrollbar';

.input {
  display: block;
  width: 100%;
  min-width: 0px;
  margin: 0;
  padding: var(--sp-tight) var(--sp-normal);
  background-color: var(--bg-surface-low);
  color: var(--tc-surface-normal);
  box-shadow: none;
  border-radius: var(--bo-radius);
  border: 1px solid var(--bg-surface-border);
  font-size: var(--fs-b2);
  letter-spacing: var(--ls-b2);
  line-height: var(--lh-b2);

  :disabled {
    opacity: 0.4;
    cursor: no-drop;
  }

  &__label {
    display: inline-block;
    margin-bottom: var(--sp-ultra-tight);
    color: var(--tc-surface-low);
  }

  &--resizable {
    resize: vertical !important;
    overflow-y: auto !important;
    @include scrollbar.scroll;
    @include scrollbar.scroll__v;
    @include scrollbar.scroll--auto-hide;
  }
  &--success {
    border: 1px solid var(--bg-positive);
    box-shadow: none !important;
  }
  &--error {
    border: 1px solid var(--bg-danger);
    box-shadow: none !important;
  }

  &:focus {
    outline: none;
    box-shadow: var(--bs-primary-border);
  }
  &::placeholder {
    color: var(--tc-surface-low)
  }
}