.auth__base {
  --pattern-size: 48px;
  min-height: 100vh;
  background-color: var(--bg-surface-low);

  background-image: radial-gradient(rgba(0, 0, 0, 6%) 2px, rgba(0, 0, 0, 0%) 2px);
  background-size: var(--pattern-size) var(--pattern-size);

  display: flex;
  flex-direction: column;
}
.auth__wrapper {
  flex: 1;
  padding: var(--sp-loose);
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.auth-footer {
  padding: var(--sp-normal) 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:nth-child(2n) {
    margin: 0 var(--sp-loose);
  }
  & a {
    color: var(--tc-surface-normal);
    &:hover { text-decoration: underline; }
  }
}
.auth-card {
  width: 462px;
  background-color: var(--bg-surface);
  border-radius: var(--bo-radius);
  box-shadow: var(--bs-popup);
  overflow: hidden;

  &__content {
    padding: var(--sp-extra-loose) calc(var(--sp-normal) + var(--sp-extra-loose));
  }
  &__switch {
    margin-top: var(--sp-loose) !important;
  }
}

.homeserver-form,
.auth-form__heading {
  & .context-menu .btn-surface .ic-raw {
    width: 0;
  }
}

.homeserver-form {
  display: flex;
  margin-bottom: var(--sp-extra-tight);
  line-height: 0;
  & > .input-container {
    flex: 1;
    & .input {
      border-right: unset;
      border-radius: var(--bo-radius) 0 0 var(--bo-radius);
      background-color: var(--bg-surface);
    }
  }
  & .ic-btn {
    height: 46px;
    align-self: flex-end;
    border: 1px solid var(--bg-surface-border);
    border-radius: 0 var(--bo-radius) var(--bo-radius) 0;
  }
  [dir=rtl] & {
    & .input {
      border-radius: 0 var(--bo-radius) var(--bo-radius) 0;
      border-radius: 1px;
      border-left: unset;
    }
    .ic-btn {
      border-radius: var(--bo-radius) 0 0 var(--bo-radius);
    }
  }

  &__status {
    margin-top: var(--sp-normal);
    & .donut-spinner {
      min-width: 28px;
    }
    & .text {
      margin: 0 var(--sp-tight);
    }
  }
  &__error {
    margin-bottom: var(--sp-normal) !important;
    color: var(--tc-danger-normal) !important;
  }
}

.auth-form {
  & > .input-container {
    margin: var(--sp-tight) 0 var(--sp-ultra-tight);
  }
  
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--sp-extra-loose) + var(--sp-tight));
  }

  &__btns {
    padding-top: var(--sp-loose);
    margin-bottom: var(--sp-extra-loose);
    display: flex;
    justify-content: flex-end;
  }

  &__error {
    color: var(--tc-danger-normal) !important;
  }
}
.sso__divider {
  margin-bottom: var(--sp-tight);
  display: flex;
  align-items: center;

  &::before,
  &::after {
    flex: 1;
    content: '';
    margin: var(--sp-tight);
    border-bottom: 1px solid var(--bg-surface-border);
  }
}

@media (max-width: 462px) {
  .auth__wrapper {
    padding: var(--sp-tight);
  }
  .auth-card {
    &__content {
      padding: var(--sp-loose) var(--sp-normal);
    }
  }
}

.process-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  width: 100%;
  background-color: var(--bg-surface-low);
  opacity: .96;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}