@use '../../partials/flex';
@use '../../partials/text';
@use '../../partials/dir';

.cmd-bar {
  --cmd-bar-height: 28px;
  min-height: var(--cmd-bar-height);
  display: flex;

  &__info {
    display: flex;
    width: 40px;
    @include dir.side(margin, 10px, 14px);

    & > * {
      margin: auto;
    }
  }

  &__content {
    @extend .cp-fx__item-one;
    display: flex;

    &-suggestions {
      height: 100%;
      white-space: nowrap;
      display: flex;
      align-items: center;

      & > .text {
        @extend .cp-txt__ellipsis;
      }
    }
  }
}

.cmd-item {
  --cmd-item-bar: inset 0 -2px 0 0 var(--bg-caution);
  height: 100%;
  @include dir.side(margin, 0, var(--sp-extra-tight));
  padding: 0 var(--sp-extra-tight);
  border-radius: var(--bo-radius) var(--bo-radius) 0 0;
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: var(--bg-caution-hover);
  }
  &:focus {
    background-color: var(--bg-caution-active);
    box-shadow: var(--cmd-item-bar);
    border-bottom: 2px solid transparent;
    outline: none;
  }
}