@use '../../partials/flex';
@use '../../partials/dir';

.room-header__btn {
  min-width: 0;
  @extend .cp-fx__row--s-c;
  @include dir.side(margin, 0, auto);
  border-radius: var(--bo-radius);
  cursor: pointer;
  
  & .ic-raw {
    @include dir.side(margin, 0, var(--sp-extra-tight));
    transition: transform 200ms ease-in-out;
  }
  @media (hover:hover) {
    &:hover {
      background-color: var(--bg-surface-hover);
      box-shadow: var(--bs-surface-outline);
    }
  }
  &:focus,
  &:active {
    background-color: var(--bg-surface-active);
    box-shadow: var(--bs-surface-outline);
    outline: none;
  }
}