@use '../../partials/flex';
@use '../../partials/dir';

$threshold-compact-view: 750px;
$threshold-hide-people-drawer: 750px;

.room-header__btn {
  min-width: 0;
  @extend .cp-fx__row--s-c;
  @include dir.side(margin, 0, auto);
  border-radius: var(--bo-radius);
  cursor: pointer;
  
  & .ic-raw {
    @include dir.side(margin, 0, var(--sp-extra-tight));
    transition: transform 200ms ease-in-out;
  }
  @media (hover:hover) {
    &:hover {
      background-color: var(--bg-surface-hover);
      box-shadow: var(--bs-surface-outline);
    }
  }
  &:focus,
  &:active {
    background-color: var(--bg-surface-active);
    box-shadow: var(--bs-surface-outline);
    outline: none;
  }
}

.room-people-drawer-toggle {
  @media screen and (max-width: $threshold-hide-people-drawer) {
    display: none;
  }
}

.room-back-btn {
  margin-left: -10px;
  margin-right: 5px;
  
  @media screen and (min-width: $threshold-compact-view) {
    display: none;
  }
}
