@use '../../partials/flex';
@use '../../partials/threshold';

.room {
  @extend .cp-fx__row;
  height: 100%;

  &__content {
    @extend .cp-fx__item-one;
    position: relative;
    overflow: hidden;
  }
}

.room__drawer {
  @include threshold.smaller(tablet) {
    // On compact screen sizes there is not enough space
    // but no need to view it otherwise as it already is in settings
    display: none;
  }
}
