@use '../../partials/flex';

.room-view {
  @extend .cp-fx__column;
  background-color: var(--bg-surface);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  box-shadow: none;

  transition: transform 200ms var(--fluid-slide-down);

  &--dropped {
    transform: translateY(calc(100% - var(--header-height)));
    border-radius: var(--bo-radius) var(--bo-radius) 0 0;
    box-shadow: var(--bs-popup);
  }

  &__content-wrapper {
    @extend .cp-fx__item-one;
    @extend .cp-fx__column;
  }

  &__scrollable {
    @extend .cp-fx__item-one;
    position: relative;
  }
  
  &__sticky {
    min-height: 85px;
    position: relative;
    background: var(--bg-surface);
    border-top: 1px solid var(--bg-surface-border);
  }
}