@use '../../partials/dir';

.room-view__content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & .timeline__wrapper {
    --typing-noti-height: 28px;
    min-height: 0;
    min-width: 0;
    padding-bottom: var(--typing-noti-height);

    & .message,
    & .ph-msg,
    & .timeline-change {
      @include dir.prop(border-radius,
      0 var(--bo-radius) var(--bo-radius) 0,
      var(--bo-radius) 0 0 var(--bo-radius),
      );
    }
    
    & > .divider {
      margin: var(--sp-extra-tight);
      @include dir.side(margin, var(--sp-normal), var(--sp-extra-tight));
      @include dir.side(padding, calc(var(--av-small) + var(--sp-tight)), 0);
    }
  }
}