@use '../../partials/dir';
@use '../../partials/flex';

.room-settings {
  & .pw {
    background-color: var(--bg-surface-low);
  }

  & .room-profile {
    padding: var(--sp-loose) var(--sp-extra-loose);
  }

  & .tabs__content {
    padding: 0 var(--sp-normal);
  }

  &__cards-wrapper {
    padding: 0 var(--sp-normal);
    @include dir.side(padding, var(--sp-normal), var(--sp-extra-tight));
  }
}

.room-settings__card {
  margin: var(--sp-normal) 0;
  background-color: var(--bg-surface);
  border-radius: var(--bo-radius);
  box-shadow: var(--bs-surface-border);
  overflow: hidden;

  & > .context-menu__header:first-child {
    margin-top: 2px;
  }
}

.room-settings .room-permissions__card,
.room-settings .room-search__form,
.room-settings .room-search__result-item,
.room-settings .room-members {
  @extend .room-settings__card;
}
