.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cmd-bar {
  --cmd-bar-height: 28px;
  min-height: var(--cmd-bar-height);
  display: flex;

  &__info {
    display: flex;
    width: 40px;
    margin: 0 10px 0 14px;
    [dir=rtl] & {
      margin: 0 14px 0 10px;
    }
    & > * {
      margin: auto;
    }
  }

  &__content {
    min-width: 0;
    flex: 1;
    display: flex;

    &-suggestions {
      height: 100%;
      white-space: nowrap;
      display: flex;
      align-items: center;

      & > .text {
        @extend .overflow-ellipsis;
      }
    }
  }
}

.cmd-item {
  --cmd-item-bar: inset 0 -2px 0 0 var(--bg-caution);

  display: inline-flex;
  align-items: center;
  margin-right: var(--sp-extra-tight);
  padding: 0 var(--sp-extra-tight);
  height: 100%;
  border-radius: var(--bo-radius) var(--bo-radius) 0 0;
  cursor: pointer;

  & .emoji {
    width: 20px;
    height: 20px;
    margin-right: var(--sp-ultra-tight);
  }

  &:hover {
    background-color: var(--bg-caution-hover);
  }
  &:focus {
    background-color: var(--bg-caution-active);
    box-shadow: var(--cmd-item-bar);
    border-bottom: 2px solid transparent;
    outline: none;
  }
  
  [dir=rtl] & {
    margin-right: 0;
    margin-left: var(--sp-extra-tight);
    & .emoji {
      margin-right: 0;
      margin-left: var(--sp-ultra-tight);
    }
  }
}