@use '../../partials/flex';

.room-view {
  @extend .cp-fx__item-one;
  @extend .cp-fx__column;

  &__content-wrapper {
    @extend .cp-fx__item-one;
    @extend .cp-fx__column;
  }

  &__scrollable {
    @extend .cp-fx__item-one;
    position: relative;
  }
  
  &__sticky {
    min-height: 85px;
    position: relative;
    background: var(--bg-surface);
    border-top: 1px solid var(--bg-surface-border);
  }
}