.room-view__content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & .timeline__wrapper {
    --typing-noti-height: 28px;
    min-height: 0;
    min-width: 0;
    padding-bottom: var(--typing-noti-height);
  }
}