.channel-selector-flex {
  display: flex;
  align-items: center;
}
.channel-selector-flexItem {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.channel-selector {
  @extend .channel-selector-flex;

  border: 1px solid transparent;
  border-radius: var(--bo-radius);
  cursor: pointer;
  
  &--selected {
    background-color: var(--bg-surface);
    border-color: var(--bg-surface-border);

    & .channel-selector__options {
      display: flex;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-surface-hover);
      & .channel-selector__options {
        display: flex;
      }
    }
  }
  &:focus {
    outline: none;
    background-color: var(--bg-surface-hover);
  }
  &:active {
    background-color: var(--bg-surface-active);
  }
  &--selected:hover,
  &--selected:focus,
  &--selected:active {
    background-color: var(--bg-surface);
  }
}

.channel-selector__content {
  @extend .channel-selector-flexItem;
  @extend .channel-selector-flex;
  padding: 0 var(--sp-extra-tight);
  min-height: 40px;
  cursor: inherit;

  & > .avatar-container .avatar__bordered {
    box-shadow: none;
  }

  & > .text {
    @extend .channel-selector-flexItem;
    margin: 0 var(--sp-extra-tight);

    color: var(--tc-surface-normal);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.channel-selector__options {
  @extend .channel-selector-flex;
  display: none;
  margin-right: var(--sp-ultra-tight);

  [dir=rtl] & {
    margin-right: 0;
    margin-left: var(--sp-ultra-tight);
  }

  &:empty {
    margin: 0 !important;
  }

  & .ic-btn-surface {
    padding: 6px;
    border-radius: calc(var(--bo-radius) / 2);
  }
}