@use '../../partials/dir';
@use '../../partials/flex';

.profile-editor {
  display: flex;
  align-items: flex-end;
}

.profile-editor__info,
.profile-editor__form {
  @extend .cp-fx__item-one;
  @include dir.side(margin, var(--sp-loose), 0);
  display: flex;
}

.profile-editor__info {
  flex-direction: column;
  & > div:first-child {
    display: flex;
    align-items: center;
  }
  .ic-btn {
    margin: 0 var(--sp-extra-tight);
  }
}

.profile-editor__form {
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: flex-end;

  & > .input-container  {
    @extend .cp-fx__item-one;
  }
  & > button {
    height: 46px;
    margin-top: var(--sp-normal);
    @include dir.side(margin, var(--sp-normal), 0);
  }

}