.profile-editor {
  display: flex;
  align-items: end;
}

.profile-editor__input-container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--sp-normal);
  width: 100%;
  max-width: 400px;
}

.profile-editor__input-container > .text-b3 {
  margin-bottom: var(--sp-ultra-tight)
}

.profile-editor > .btn-primary {
  height: 46px;
}