@use '../../partials/dir';

.profile-editor {
  display: flex;
  align-items: flex-start;
}

.profile-editor__input-wrapper {
  flex: 1;
  min-width: 0;
  margin-top: 10px;
  
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  & > .input-container  {
    flex: 1;
  }
  & > button {
    height: 46px;
    margin-top: var(--sp-normal);
  }

  & > * {
    @include dir.side(margin, var(--sp-normal), 0);
  }
}