.cross-signing {
  &__setup {
    padding: var(--sp-normal);
  }
  &__setup-entry {
    & > *:not(:first-child) {
      margin-top: var(--sp-normal);
    }
  }

  &__error {
    color: var(--tc-danger-high);
    margin-top: var(--sp-ultra-tight) !important;
  }

  &__setup-divider {
    margin: var(--sp-tight) 0;
    display: flex;
    align-items: center;
  
    &::before,
    &::after {
      flex: 1;
      content: '';
      margin: var(--sp-tight) 0;
      border-bottom: 1px solid var(--bg-surface-border);
    }
  }
}

.cross-signing__key {
  padding: var(--sp-normal);

  &-text {
    margin: var(--sp-normal) 0;
    padding: var(--sp-extra-tight);
    background-color: var(--bg-surface-low);
    border-radius: var(--bo-radius);
  }
  &-btn {
    display: flex;
    & > button:last-child {
      margin: 0 var(--sp-normal);
    }
  }
}

.cross-signing__failure,
.cross-signing__reset {
  padding: var(--sp-normal);
  padding-top: var(--sp-extra-loose);
  & > .text {
    padding-bottom: var(--sp-normal);
  }
}