.key-backup__create,
.key-backup__restore {
  padding: var(--sp-normal);

  & > div {
    padding: var(--sp-normal) 0;
    display: flex;
    align-items: center;
  
    & > .text {
      margin: 0 var(--sp-normal);
    }
  }

  & > .text {
    margin-bottom: var(--sp-normal);
  }
}

.key-backup__delete {
  padding: var(--sp-normal);
  padding-top: var(--sp-extra-loose);

  & > .text {
    padding-bottom: var(--sp-normal);
  }
}