.secret-storage-access {
  padding: var(--sp-normal);

  & form > *:not(:first-child) {
    margin-top: var(--sp-normal);
  }

  & .text-b3 {
    color: var(--tc-danger-high);
    margin-top: var(--sp-ultra-tight) !important;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
  }
  & .donut-spinner {
    margin-top: var(--sp-normal);
  }
}