.settings-window {
  & .pw__content-container {
    height: 100%;
  }
}

.settings-content {
  margin: 0 var(--sp-normal);
  margin-right: var(--sp-extra-tight);
  [dir=rtl] & {
    margin-left: var(--sp-extra-tight);
    margin-right: var(--sp-normal);
  }
}

.settings__about {
  text-align: center;
}