@use '../../partials/flex';
@use '../../partials/dir';

.settings-window {
  & .pw__drawer__content {
    @extend .cp-fx__column;
    min-height: 100%;
    padding-bottom: var(--sp-extra-tight);

    & > .pw-content-selector:last-child {
      margin-top: auto;
    }
  }
  & .pw__content-container {
    min-height: 100%;
  }
}

.settings-content {
  @include dir.side(margin, var(--sp-normal), var(--sp-extra-tight));

  & .setting-tile {
    margin-top: var(--sp-normal);
    border-bottom: 1px solid var(--bg-surface-border);
    padding-bottom: 16px;
  }
}

.set-notifications {
  &__not-supported {
    padding: 0 var(--sp-ultra-tight);
  }
}

.set-about {
  &__branding {
    margin-top: var(--sp-extra-tight);
    margin-bottom: var(--sp-normal);
    display: flex;

    & > div {
      margin: 0 calc(var(--sp-loose) + var(--sp-ultra-tight));
    }

  }
  &__btns {
    margin: 0;
    margin-top: var(--sp-normal);
    & button:last-child {
      margin: 0 var(--sp-tight)
    }
  }
}