@use '../../partials/dir';

.invites-content {
  @include dir.side(margin, var(--sp-normal), var(--sp-extra-tight));

  &__subheading {
    margin-top: var(--sp-extra-loose);

    & .text {
      text-transform: uppercase;
    }
    &:first-child {
      margin-top: var(--sp-tight);
    }
  }

  & .room-tile {
    margin-top: var(--sp-normal);
    &__options {
      align-self: flex-end;
    }
  }
  & .invite-btn__container .btn-surface {
    @include dir.side(margin, 0, var(--sp-normal));
  }
}