.img-upload {
	display: flex;
	flex-direction: row-reverse;
	width: 80px;
	height: 80px;
}

.img-upload:hover {
	cursor: pointer;
}

.img-upload__mask {
	mask: url('../../../../public/res/svg/avatar-clip.svg');
	-webkit-mask: url('../../../../public/res/svg/avatar-clip.svg');
}

.img-upload__icon {
  z-index: 1;
  position: absolute;
}