@use '../../partials/screen';
@use '../../partials/flex';

.client-container {
  display: flex;
  height: 100%;
}

.navigation__wrapper {
  width: var(--navigation-width);

  @include screen.smallerThan(mobileBreakpoint) {
    width: 100%;
  }
}

.room__wrapper {
  display:grid;
  @extend .cp-fx__item-one;
}

.jitsi_room__wrapper {
  display: grid;
  position: absolute;
  top: 20rem;
  left: 55rem;
  z-index: 2000;
  height: 25rem;
  width: 25rem;
}

.call_header{
  z-index: 2001;
  cursor: move;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.call{
  user-select: none;
  border: 1px solid var(--bg-surface-border);
  border-radius: var(--bo-radius);
  color: var(--tc-surface-normal-low);
  background-color: var(--bg-surface);
}

@include screen.smallerThan(mobileBreakpoint) {
  .client__item-hidden {
    display: none;
  }
}

.loading-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading__message {
  margin-top: var(--sp-normal);
  max-width: 350px;
  text-align: center;
}
.loading__appname {
  position: absolute;
  bottom: var(--sp-normal);
}
.loading__menu {
  position: absolute;
  top: var(--sp-extra-tight);
  right: var(--sp-extra-tight);
  cursor: pointer;
  .context-menu__item .text {
    margin: 0 !important;
  }
}
