@use '../../partials/screen';

.client-container {
  display: flex;
  height: 100%;

  @include screen.biggerThan(mobileBreakpoint) {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--navigation-width));
  }
}

.navigation__wrapper {
  width: var(--navigation-width);
  
  @include screen.smallerThan(mobileBreakpoint) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
    z-index: 1000;
  }
}

.room__wrapper {
  flex: 1;
  min-width: 0;
}

@include screen.smallerThan(mobileBreakpoint) {
  .client__item-hidden {
    display: none;
  }

  .client__item-background {
    filter: brightness(50%);
  }

  .client__item-sided {
    transition: all .25s ease;
    transform: translateX(-100%);
  }
}

.loading-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading__message {
  margin-top: var(--sp-normal);
  max-width: 350px;
  text-align: center;
}
.loading__appname {
  position: absolute;
  bottom: var(--sp-normal);
}
.loading__menu {
  position: absolute;
  top: var(--sp-extra-tight);
  right: var(--sp-extra-tight);
  cursor: pointer;
  .context-menu__item .text {
    margin: 0 !important;
  }
}
