/* ---- ROBOTO ---- */

@font-face {
  font-family: 'Roboto';
  src: url(../public/fonts/roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../public/fonts/roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;  
}
@font-face {
  font-family: 'Roboto';
  src: url(../public/fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../public/fonts/roboto/Roboto-Bold.ttf);
  font-weight: 600;
  font-display: swap;
}

/* ---- Inter ---- */

@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/inter/Inter_vf_slant_weight.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/inter/Inter_vf_slant_weight.ttf);
  font-weight: 350;
  font-display: swap;  
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/inter/Inter_vf_slant_weight.ttf);
  font-weight: 400;
  font-display: swap;  
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/inter/Inter_vf_slant_weight.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/inter/Inter_vf_slant_weight.ttf);
  font-weight: 600;
  font-display: swap;
}