
.import-e2e-room-keys {
  &__file {
    display: inline-flex;
    align-items: center;
    background: var(--bg-surface-low);
    border-radius: var(--bo-radius);
    box-shadow: var(--bs-surface-border);

    & button {
      --parent-height: 46px;
      width: var(--parent-height);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .ic-raw {
      background-color: var(--bg-caution);
      transform: rotate(45deg);
    }
    
    & .text {
      margin-left: var(--sp-tight);
      margin-right: var(--sp-loose);
      max-width: 86px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      [dir=rtl] {
        margin-right: var(--sp-tight);
        margin-left: var(--sp-loose);
      }
    }
  }

  &__form {
    display: flex;
    margin-top: var(--sp-extra-tight);
    
    
    & .input-container {
      flex: 1;
      margin: 0 var(--sp-tight);
    }
  }

  &__process {
    margin-top: var(--sp-tight);
    display: flex;
    justify-content: center;
    align-items: center;
    & .text {
      margin: 0 var(--sp-tight);
    }
  }
  &__error {
    margin-top: var(--sp-tight);
    color: var(--tc-danger-high);
  }
  &__success {
    margin-top: var(--sp-tight);
    color: var(--tc-positive-high);
  }
}