@use '../../partials/dir';

.chip {
  padding: var(--sp-ultra-tight) var(--sp-extra-tight);
  
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  
  background: var(--bg-surface-low);
  border-radius: var(--bo-radius);
  box-shadow: var(--bs-surface-border);
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-surface-hover);
    }
  }

  & > .text {
    flex: 1;
    color: var(--tc-surface-high);
  }

  & > .ic-raw {
    width: 16px;
    height: 16px;
    @include dir.side(margin, 0, var(--sp-ultra-tight));
  }
}