@use '../../partials/text';

.following-members {
  width: 100%;
  padding: 0 var(--sp-normal);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  
  & .ic-raw {
    min-width: var(--ic-extra-small);
    opacity: 0.4;
    margin: 0 var(--sp-extra-tight);
  }
  & .text {
    @extend .cp-txt__ellipsis;
    color: var(--tc-surface-low);
    b {
      color: var(--tc-surface-normal);
    }
  }

  &:hover,
  &:focus {
    background-color: var(--bg-surface-hover);
  }
  &:active {
    background-color: var(--bg-surface-active);
  }
}